*{
    font-family: "Roboto", serif;
}


.services-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px;
    gap: 15px;
    background-color: #ffffff;
}
.services-container span{
    font-size: 16px;
    font-weight: 600;
    color: #00274D;
}
.services-container h2{
    font-size: 30px;
    font-weight: 600;
    color: #00274D;
    text-align: center;
    max-width: 820px;
}

.question-button{
    background-color: #ffffff;
    display: flex;
    display: flex;
    border: 1px solid #E7E7E7;
    border-radius: 7px;
    padding: 4px 6px;
    margin-bottom: 15px;
}
.question-button input[type="radio"] {
    display: none;
}

.question-button input[type="radio"]:checked + label > span {
  color: #ffffff;
}

  
.question-button label span {
    display: inline-block;
    /* background-color: #ddd; */
    padding: 4px 11px;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
    width: 110px;
    height: 32px;
    display: flex;
    font-weight: 500;
    align-items: center;
justify-content: center;
}




.question-button input[type="radio"]:checked+label > span  {
    background-color: #00274D;
    border-radius: 7px;
    /* border: 2px solid #7C00F4; */
}


.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    margin-right: 5px;
  }
  
  .tab.active {
    background-color: #007BFF;
    color: white;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  

  .coaching-services-container{
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
  }

  .coaching-services-container .coaching-services{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px 0px #00274D1F;
    border-radius: 10px;
  }
  .coaching-services img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  .coaching-services-container .coaching-services .main-coaching-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
  }
  .coaching-services-container .coaching-services .main-coaching-content span{
    font-size: 14px;
    font-weight: 400;
    max-width: 300px;
    color: #333333;
    display: inline-block;
  }
  .coaching-services .main-coaching-content h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: unset;
    color: #333333;
  }
  .book-now-coaching-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img-container img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .book-now-coaching-btns button{
    background-color: #00274D;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
  }