<!-- Modal -->
    <div class="modal fade" id="pdfPurchaseModal" tabindex="-1" aria-labelledby="pdfPurchaseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfPurchaseModalLabel">Purchase PDF</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-4">Do you want to buy Construction Management Success (PDF version) for $29.99?<br>
                    You can complete your purchase securely using PayPal</p>
                    
                    <button class="btn-pay hide" id="buyNowStripeBtn" >Pay with Card</button>     
                    <button class="btn-pay btn-pay-paypal" id="buyNowBtn" >Pay with PayPal</button>
                </div>
            </div>
        </div>
    </div>