



#profileModal .modal-header{
    justify-content: center;
    border-bottom: unset ;
    padding-bottom: unset;
}
#profileModal .modal-content{
    width: 480px !important;
}

#profileModal .modal-body{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#profileModal .services-modal {
    background: white;
    /* padding: 20px; */
    border-radius: 10px;
    width: 80%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#profileModal .input-wrappers{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#profileModal .input-wrappers label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 0%;
    color: #333333;
}


#profileModal .input-wrappers input {
    height: 49px;
    width: 100%;
    border: 1px solid #E7E7E7;

    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
}

#profileModal .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}

#profileModal .cancel, #profileModal .save {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
}

#profileModal .cancel {
    background: #ffffff;
    border: 1px solid #00274D;
    color: #00274D;
}

#profileModal .save {
    background: #00274D;
    color: white;
}

#profileModal .password-input-div {
    position: relative;
}

#profileModal .password-input-div svg {
    position: absolute;
    right: 10px;
    top: 20px;
}


#profileModal .input-wrappers.profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileModal .input-wrappers.profile-image label{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* overflow: hidden; */
    position: relative;
}

#profileModal .input-wrappers.profile-image label svg {
    position: absolute;
    bottom: 10px;
    right: 0;
}

#profileModal .input-wrappers.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}