# .env.example

# Debug mode (set to 'True' for development, 'False' for production)
DEBUG=

# Secret key for Django (ensure to replace this with a securely generated key)
SECRET_KEY=

# Database settings
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=


# Email backend configs
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=