body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #FFFFFF;
}

* {
    box-sizing: border-box !important;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --primary-text-color: #333333;
    --primary-color: #00274D;
    --secondary-color: #EDF6FF;
    --input-placeholder-color: #9A9A9A;
    /* --input-label-color: #565656;
    --main-heading-color: #000000;
    --sub-heading-color: #494949;
    --secodary-sub-heading-color: #7D7987; */
}

input::placeholder,
textarea::placeholder {
    color: var(--input-placeholder-color) !important;
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary-color) !important;
    outline: none;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.hide {
    display: none !important;
}
.main-container {
    width: 100%;
    /* padding: 0px 3.64%; */
    display: flex;
    flex: 1;
}

.main-page {
    /* position: absolute; */
    /* top: 66px; */
    width: 100%;
}

/* webkit-scrollbar */

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: ; 
} */
.opacity-point-0-5 {
    opacity: 0.5;
}

.input-error-msg {
    color: #dc3545;
    opacity: 0;
    position: absolute;
    /* left: 110vw; */
    font-size: 1rem;
}

.input-error-msg.active {
    opacity: 1;
    margin-bottom: 5px;
    transition: ease .3s;
    position: static;
}

.input-success-msg {
    color: #8DC63F !important;
}

.input-failure-msg {
    color: #dc3545 !important;
}

.spinner-border-sm {
    color: #ffffff;
}


.table-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 1px;
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.inactive {
    opacity: .8;
}

/* pagination */


.pagination-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 10px;
}

.pagination-div>div {
    width: fit-content;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background: #FFFFFF;
    padding: 6px 10px;
    box-shadow: 0px 0px 20px 0px #D0D1D780;
}

.pagination-div .prev-btn,
.pagination-div .next-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid #006DEF1A;
    background: #FFFFFF;
    border: 1px solid #E3E8F9; */
}

.pagination-div .prev-btn>svg,
.pagination-div .next-btn>svg {
    width: 15px;
    height: 15px;
}

.pagination-div .pages {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination-div .pages>span,
.pagination-div .pages>.page-number-input {
    width: 32px;
    height: 32px;
    /* background: #FFFFFF; */
    border-radius: 5px;
    /* border: 1px solid #006DEF1A; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-black, #000);
    text-align: center;
    font-size: .65rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.pagination-div .pages>span.active {
    color: var(--primary-color);
    box-shadow: 0px 13px 41px 0px #3B3B3D1B;

}

.rotate-180 {
    transform: rotate(180deg);
}

.show {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.visibility-hidden {
    visibility: hidden;
}

.width-max-content {
    width: max-content !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toastify {
    border-radius: 6px!important;
    font-size: .875rem;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
}

.danger-toast {
    border: 1px solid var(--primary-color)!important;
    background: #fef5f5!important;
    color: var(--primary-color)!important;
    display: flex!important;
    gap: 5px;
    line-height: 16px;
}

.danger-toast .toast-close {
    color: #606b85!important;
    opacity: 1!important;
    align-self: flex-start;
}

.imgage_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.imgage_container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin-top: 20px;
}

.inactive-class {
    cursor: not-allowed;
    opacity: .5;
}