

.book-now-section{
    background-color: #FCFDFF;
    padding: 70px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-now-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 10px;
}
.book-now-container span{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

.book-now-btn > span {
    color: #ffffff;
}

.book-now-container h2{
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-text-color);
    max-width: 860px;
    text-align: center;
    
}

.book-now-form{
    display: flex;
    flex-direction: column;
    width: 100%;
   gap: 10px;
   margin-top: 20px;
}

.book-now-form .form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
    position: relative;
    color: var(--primary-text-color);
}

.form-inputs.dropdown {
    padding: 0px 10px;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
}

.form-inputs.dropdown > input {
    padding: 10px 0px !important;
    border: none !important;
}

.book-now-form .form-inputs input, .book-now-form .form-inputs textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    outline: none;
    color: var(--primary-text-color);
}
.book-now-form .form-inputs textarea{
    resize: none;
    height: 100px;
}
.book-now-form button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 600px;
    align-self: center;
    margin-top: 20px;
}
.book-now-form .form-inputs svg{
    position: absolute;
    right: 10px;
    top: 19px;
}

.book-now-form .form-inputs .dropdown-menu{
    width: 100%;
    padding: unset;
}

.book-now-form .form-inputs .dropdown-menu .dropdown-item{
   
    padding: 10px;
    border-bottom: 1px solid #E7E7E7;
    
}

@media screen and (max-width: 500px) {
    .book-now-section {
        padding-bottom: 20px !important;
    }
}



@media screen and (max-width: 992px) {
    .book-now-container h2 {
        font-size: 22px;
        max-width: 700px;
    }
    .book-now-container {
        width: 100%;
    }
    
}


@media screen and (max-width: 768px) {
    .book-now-section {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}


@media screen and (max-width: 500px) {
    .book-now-section {
        padding-top: 20px;
    }
    
}

