

.resources-section {
    padding: 70px 3.64% 10px 3.64%;
}

.comment-section {
    padding: 0px 3.64% 70px;
}

.resources-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    gap: 10px;
}

.resources-headline span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}
.resources-heading h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-text-color);
}
.resources-main-img{
    width: 100%;
    object-fit: cover;

}

.resources-main-img img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 15px;
}

.author-information {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author-details{
    display: flex;
    align-items: center;
    gap: 8px;
}
.author-details .auther-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.author-details .auther-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.author-details .author-name{
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   gap: 2px;
}

.author-details .author-name h6 {
    margin-bottom: unset;
}

.author-details .auther-name h6{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.author-details .author-name .auther-blog-datetime{
    display: flex;
    gap: 10px;
}

.auther-blog-datetime .max-read-time{
    display: flex;
    gap: 3px;
    align-items: center;
}

.auther-blog-datetime .max-read-time span{
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-text-color);
}

.auther-social-media{
    display: flex;
    gap: 10px;
}

.author-blog-content{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* gap: 20px; */
    margin-top: 10px;
}

.author-blog-content p {
    margin: 0;
}

.author-blog-content .blog-pgraphs{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.blog-pgraphs p{
    margin-bottom: 8px;
    margin: 0;
}

.blog-pgraphs h6{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.author-blog-tags{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-blog-tags span:first-of-type{
    padding: 8px 15px;
    width: 120px;
    border-radius: 20px;
    background-color: #FFFBEB;
    color: #FFCC00;
    text-align: center;
}
.author-blog-tags span:nth-of-type(2) {
    padding: 8px 15px;
    width: 120px;
    border-radius: 20px;
    background-color: #D8ECFE;
    color: #00274D;
    text-align: center;
}

.author-blog-tags span:nth-of-type(3) {
    padding: 8px 15px;
    width: 120px;
    border-radius: 20px;
    background-color: #DAFFC8;
    color: #0BDB0E;
    text-align: center;
}

.author-blog-interactions {
    display: flex;
    align-items: center;
    gap: 15px;
}
.author-blog-interactions .interactions{
    display: flex;
    align-items: center;
    gap: 5px;
} 

.comment-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin: 30px 0px; */
}
.comment-section .responses-heading{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.responses-heading button{
    border: 2px solid var(--primary-color);
    padding: 5px 25px;
    color: var(--primary-color);
    background-color: #ffffff;
    border-radius: 6px;
    font-weight: 600;
}
.leave-comments{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    padding-left: 25px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
}
.leave-comments input{
    width: 100%;
    border: none;
    outline: none;
}
.leave-comments svg{
    /* margin-left: 15px; */
    flex-shrink: 0;
}
.leave-comments button{
    padding: 8px 30px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
}

.users-comments-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.users-comments-section .users-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
}

.users-comments .comment span{
    font-size: 14px;
}
.interactions-sections{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-menu {
    padding: unset;
}
.dropdown-menu > li > .dropdown-item{
    color: #FF0D0D;
}






.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    margin-right: 5px;
}

.tab.active {
    background-color: #007BFF;
    color: white;
}

.tab-content {
    display: none !important;
}

.tab-content.active {
    display: inherit !important;
}


.coaching-services-container {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(330px, 0fr));
    gap: 20px;
}

.coaching-services-container .coaching-services {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px 0px #00274D1F;
    border-radius: 10px;
}

.coaching-services img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.coaching-services-container .coaching-services .main-coaching-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    height: 100%;
}

.coaching-services-container .coaching-services .main-coaching-content span {
    font-size: 14px;
    font-weight: 400;
    max-width: 300px;
    color: #333333;
    display: inline-block;
    height: 100%;
}

.coaching-services .main-coaching-content h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: unset;
    color: #333333;
}

.book-now-coaching-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.book-now-coaching-btns button {
    background-color: #00274D;
    border-radius: 8px;
    padding: 5px 20px;
    color: #FFFFFF;
    min-width: fit-content;
}

.learn-more-button button {
    margin-top: 15px;
    background-color: #00274D;
    border-radius: 8px;
    padding: 5px 60px;
    color: #FFFFFF;
}

#content-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#coaching-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consulting-content,
#speaking-content,
#courses-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consulting-container {
    width: 100%;
}



.img-container {
    display: none !important;
}

.pdfs {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    justify-content: center;
}

.pdfs .pdf-container{
    /* background-image: url('/static/user/images/blog-cover.svg'); */
    height: 150px;
    
    /* aspect-ratio: 1.96 / 1; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .pdfs > div:first-child .pdf-container {
    background-image: url('/static/user/images/stress-managment.png');
}

.pdfs > div:nth-child(2) .pdf-container {
    background-image: url('/static/user/images/stress-managment-2.png');
}

.pdfs > div:nth-child(3) .pdf-container {
    background-image: url('/static/user/images/stress-managment-3.png');
}

.pdfs > div:last-child .pdf-container {
    background-image: url('/static/user/images/stress-managment-4.png');
} */

.pdfs .pdf-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1; /* Ensures it sits behind text/button */
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    z-index: 2;
    text-align: center;
    padding: 20px;
}

.pdfs > div {
    width: 100%;
    gap: 15px;
}

.pdfs .pdf-container span {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.78px;
    text-align: left;
    color: #ffffff;
}

.pdfs .pdf-container a {
    width: 149px;
    height: 42px;
    border-radius: 8px;
    background: var(--primary-color);
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width: 450px) {
    .resources-section {
        padding:  20px;
    }
    .comment-section {
        padding: 20px;
    }
    .author-blog-content .blog-pgraphs {
        gap: 0;
    }

    .resources-headline span{
        font-size: 14px;
    }
    .resources-heading h3{
        font-size: 26px;
        text-align: center;
    }
}


