

#deleteModal .modal-footer {
    margin-top: unset;
    border-top: unset;
}

#deleteModal .delete-dialog{
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#deleteModal .modal-header {
    justify-content: center;
    border-bottom: unset;
}

#deleteModal .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#deleteModal .modal-content {
    height: unset;
    width: 550px !important;
}

#deleteModal #message {
    text-align: center;
}

#deleteModal #exampleModalLabel {
    color: #000000;
}

#deleteModal .modal-footer button {
    width: 150px;
}

#deleteModal .modal-footer button:first-of-type {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

#deleteModal .modal-footer button:last-of-type{
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
}

#deleteModal .modal-footer button:first-of-type:hover{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

#deleteModal .modal-footer  button:last-of-type:hover{
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
}