



#profileModal .modal-header{
    justify-content: space-between;
    border-bottom: unset ;
    padding-bottom: unset;
    align-items: unset !important;
}
#profileModal .modal-content{
    width: 480px !important;
}

#profileModal .modal-header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileModal .modal-body{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#profileModal .services-modal {
    background: white;
    /* padding: 20px; */
    border-radius: 10px;
    width: 80%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#profileModal .input-wrappers{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

#profileModal .input-wrappers label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 0%;
    color: #333333;
}


#profileModal .input-wrappers input {
    height: 45px;
    width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
    padding: 10px;
}

#profileModal .buttons {
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px; */
    gap: 15px;
    width: 100%;
}

#profileModal .cancel, #profileModal .save {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#profileModal .cancel {
    background: #ffffff;
    border: 1px solid #00274D;
    color: #00274D;
}

#profileModal .save {
    background: #00274D;
    color: white;
}

#profileModal .password-input-div {
    position: relative;
}

#profileModal .password-input-div svg {
    position: absolute;
    right: 15px;
    top: 15px;
}


#profileModal .input-wrappers.profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileModal .input-wrappers.profile-image label{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* overflow: hidden; */
    position: relative;
}

#profileModal .input-wrappers.profile-image label svg {
    position: absolute;
    bottom: 10px;
    right: 0;
}

#profileModal .input-wrappers.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}





#otpVerificationModal .modal-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#otpVerificationModal .modal-body > .cross-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.content {
    width: 342px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    gap: 10px;
}
.content h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: unset;
    color: var(--primary-text-color);
}

.content > span {
    color: var(--primary-text-color);
}

.content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > .input-wrapper input{
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-radius: 10px;
}

form > .input-wrapper label{
    font-size: 16px;
    font-weight: 500;

}

form > .button-div  > button{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 8px ;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.otp-inputs{
    display: flex;
    align-items: center;
    gap: 10px;
}

.otp-inputs input{
    width: 48px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    padding: 10px;
    text-align: center;
    
}

.otp-inputs input:focus{
    outline: 1px solid var(--primary-color);
}

.button-div{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.button-div span{
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 400;

}

.button-div > span > a {
    text-decoration: none;
}

.button-div > span > a > span{
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
}

.filled-input {
    border: 1px solid var(--primary-color) !important;
}









@media screen and (max-width: 768px) {
    #profileModal .services-modal {
        width: 100%;
    }
}

