.blogs-and-tags{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 0px 8px 0px #00274D1A;
    border-radius: 10px;
    height: calc(100vh - 100px);
    overflow: auto;
}

.blogs-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs-heading h4{
    font-size: 18px;
    font-weight: 600;
}

.blogs-heading button{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.blogs-table {
    /* height: calc(100% - 80px); */
    overflow: auto;
}

.table {
    table-layout: fixed;
}

.table > thead{
    background-color: var(--primary-color);
    height: 55px;

    position: sticky;
    top: -1px;
    z-index: 20;
}

.table > thead > tr > th{
    background: transparent;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    color: var(--primary-text-color) !important;
    font-size: 16px;
    line-height: 18.75px;
}

tbody > tr > td button {
    background-color: var(--primary-color);
    padding: 8px 20px;
    /* border: 1px solid var(--primary-color); */
    border-radius: 20px;
    color: white;
    border: none;
}

.tags{
    display: flex;
    align-items: center;
    gap: 5px;
    /* justify-content: center; */
}

.tags span{
    background-color: #EAF5FF;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--primary-text-color);
    font-weight: 400;
}

.notification-content * {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 0;
}