.coaching-services-container {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(290px, 0fr));
    gap: 20px;
}

.coaching-services-container .coaching-services {
    display: flex;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 15px 0px #00274D1F;
    border-radius: 10px;
    max-width: 390px;
}

.coaching-services img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.coaching-services-container .coaching-services .main-coaching-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    height: 100%;
}

.coaching-services-container .coaching-services .main-coaching-content span {
    font-size: 14px;
    font-weight: 400;
    max-width: 300px;
    color: #333333;
    display: inline-block;
    height: 100%;
}

.coaching-services .main-coaching-content h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: unset;
    color: #333333;
}

.book-now-coaching-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
}

.img-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.book-now-coaching-btns button {
    background-color: #00274D;
    border-radius: 8px;
    /* padding: 5px 20px; */
    color: #FFFFFF;
    min-width: fit-content;
    width: 100%;
}

.book-now-coaching-btns button:last-of-type{
    background-color: #FFFFFF;
    border: 1px solid #FF0D0D;
    color: #FF0D0D;
}
.learn-more-button button {
    margin-top: 15px;
    background-color: #00274D;
    border-radius: 8px;
    padding: 5px 60px;
    color: #FFFFFF;
}

#content-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#coaching-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consulting-content,
#speaking-content,
#courses-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consulting-container {
    width: 100%;
}
