.all-faqs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 0px 8px 0px #00274D1A;
    border-radius: 10px;
}

.faq-container{
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(382px, 0fr));
    gap: 20px;
}
.faq-heading h2{
    font-size: 18px;
    font-weight: 600;
}

.faq-container .faq{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #00274D1A;
    max-width: 400px;
}

.faq .faq-question{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}
.faq-question span{
    font-size: 18px;
    font-weight: 700;
}

.dropdown-position-set{
    transform: translate3d(-9.6px, 28px, 0px) !important;
    padding: unset;
    width: 250px !important;
    border-radius: 8px;
}
.dropdown-item{
    border-bottom: 1px solid #E7E7E7;
}

.dropdown-item.delete{
    color: #EB4335;
}

.faq-answer > span{
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    line-height: 22px;
    color: var(--primary-text-color);
}