
.admin-content{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FCFDFF;
  }
  
  
  
  nav {
      box-shadow: 0px 0px 5px 0px #00274D1A;
      border-radius: 20px;
      width: 250px;
      height: 100%;
      /* background-color: aquamarine; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: fixed; 
      gap: 10px;
      overflow: auto;
      background-color: #ffffff;
  }
  header{
    margin-left: 250px;
    padding: 10px 20px;
      width: 100%;
      background-color: #FCFDFF;
      display: flex;
      flex-direction: column;
      gap: 25px;
      overflow-x: auto;
      height: 100vh;
      padding-top: 0px;
  }
  
  nav .nav-links{
      display: flex ;
      flex-direction: column;
      gap: 5px;
      padding-top: 15px;
  }
  nav .nav-links button{
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 6px;
      padding-left: 15px;
     width: 210px;
      text-decoration: none;
     background-color: #fff;
     font-size: 14px;
      /* color: #ffffff; */
      border: none;
      border-radius: 8px;
      /* padding: 8px 35px; */
  }

  .sidebar-lower-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    padding: 15px 30px;
    gap: 10px;
    cursor: pointer;
  }

  .sidebar-lower-content span{
    color: #EB4335;
    
  }
  
  .sidebar-upper-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tablink.active{
      background-color: var(--primary-color) !important;
      color: #ffffff !important;
  }
  
  .tablink.active svg path, .tablink.active svg circle {
    fill: #ffffff;
  }
  
  header .navbar{
      display: flex;
      align-items: center;
      /* justify-content: flex-end; */
      gap: 15px;
      width: 100%;
      /* margin-top: 6px; */
      min-width: 900px;
      padding: 0px;
      margin: 0px;
      position: sticky;
      top: 0;
      background: #FCFDFF;
      padding-top: 20px;
  }
  .navbar .nav-inputs{
    display: flex;
    /* align-items: center; */
    gap: 10px;
  }
  .navbar .nav-inputs button{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color)!important;
    color: #ffffff !important;
    padding: 4px;
    border-radius: 10px;
  }
  .navbar .input-wrapper{
      width: 350px;
      position: relative;
  }
  .navbar .input-wrapper input{
       padding-left: 50px;
       width: 100%;
       border: 1px solid #E7E7E7;
       height: 40px;
       border-radius: 6px;
  }
  
  .navbar .input-wrapper svg{
      position: absolute;
      top: 7px;
      left: 8px;
  }
  .navbar .user-profile{
      display: flex;
      align-items: center;
      gap: 10px;
      padding-right: 10px;
  }
  .add-new-button{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    padding: 6px 15px;
    border-radius: 8px;
    margin-right: 15px;
    width: 240px;
    justify-content: space-around;
  }

  .add-new-button span{
    color: #ffffff;
    font-weight: 500;
  }
  .user-profile .profile-pic{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 3px solid #8C4FF6;
      
  }
  
  .user-profile .profile-pic img{
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
  }
  .user-profile .user-name span{
      font-size: 18px;
      font-weight: 600;
  }
  .tabcontent{
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      height: calc(100vh - 78px);
      margin-top: 10px;
  }
  
    
   .specialization{
    padding-left: 10px !important;
   } 
  
   header .tabcontent H4{
    font-size: 24px;
    font-weight: 600;
    height: 45px;
    display: flex;
    align-items: center;
    margin: unset;
   }
   
   
  
  .admin-action{
    padding-left: 155px;
  }
  
  
  
  
  .setting-profile{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .setting-profile button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
  
  }
  .setting-profile button .span{
    display: flex;
    flex-direction: column;
    line-height: 18px;
    text-align: left;
  }
  
  .setting-profile button .span span:first-of-type{
    color: #494949;
    font-weight: 600;
  }
  .setting-profile button .span span:last-of-type{
    color: #7F7F7F;
    font-weight: 600;
  }
  .user-img{
    width: 45px;
    height: 45px;
    /* border: 3px solid #8C4FF6; */
    border-radius: 8px;
    /* margin-right: 25px; */
  }

  .profile-section {
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 15px;
}

  
  .user-img img{
    width: 45px;
  
    height: 45px;
    border-radius: 50px;
    object-fit: cover;
    border: 3px solid #FFCC00;
  }
  .nav-setting-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    padding: unset;
  }
  
  
  /* notification and profile container styles */
  
#pag-heading {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.sidebar-lower-content >div {
  display: flex;
  gap: 12px;
}