.manuscription-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.modal-header{
    justify-content: center;
    border-bottom: unset ;
    padding-bottom: unset;
}
.modal-content{
    width: 480px !important;
}

.modal-body{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.services-modal {
    background: white;
    /* padding: 20px; */
    border-radius: 10px;
    width: 100%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-wrappers{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-wrappers input, .input-wrappers textarea {
    /* width: 100%; */
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.upload-box {
    border: 2px dashed #00274D;
    border-radius: 8px;
    width: 50%;
    /* padding: 15px; */
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 114px;
}

.upload-box span {
    background: none;
    border: none;
    color: #00274D;
    cursor: pointer;
    font-weight: 600;
    word-break: break-all;
}

.image-preview {
    /* margin-top: 10px; */
    position: relative;
    width: 100%;
    height: 100%;
}

.image-preview img {
    max-width: 100%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    cursor: pointer;
    padding: 0px;
    border-radius: 50%;
}

.remove-image svg{
    background: #E7E7E7;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}

.cancel, .save {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
}

.cancel {
    background: #ffffff;
    border: 1px solid #00274D;
    color: #00274D;
}

.save {
    background: #00274D;
    color: white;
}

.faq-textarea{
    resize: none;
    height: 200px;
}


.manuscript-description textarea {
    width: 100%;
    height: 200px;
    padding: 8px;
    margin-top: 5px;
    resize: none;
}