.add-tags{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 0px 8px 0px #00274D1A;
    border-radius: 10px;
}

.text-input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-input-field label {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.text-input-field .input-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.text-input-field .input-wrapper input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    height: 40px;
}

.text-input-field .input-wrapper > button {
    width: 150px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    height: 40px;
    border-radius: 8px;
}

.tags-container{
    width: 100%;
    height: 300px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    position: relative;
    width: fit-content;
    height: 30px;
    padding: 6px 25px 6px 5px;
    border-radius: 3px;
    background: #EAF5FF;

    font-size: 14px;
    /* line-height: 16.41px; */
    color: var(--primary-text-color);
    text-transform: capitalize;
}

.tag svg {
    position: absolute;
    top: 5px;
    right: 5px;
}

