#header-div {
    position: fixed;
    top: 0 !important;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 20;
    left: 0;
    box-shadow: 0px 0px 15px 0px #00274D1F;
}

#header-div nav {
    padding-left: 35px;
    padding-right: 35px;
    background-color: #FFFFFF;
    height: 70px;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo .nav-logo-svg svg {
    width: 55px;
    height: 55px;
}

.collapse>.gapp {
    gap: 35px;
}

.gapp .nav-item>a {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.4px;
    color: #333333;
}

.gapp .nav-item>.active {
    color: var(--primary-color);
    font-weight: 700;
}

.gapp .nav-item .services-dropdown {
    background-color: var(--primary-color);
}

.gapp .nav-item .services-dropdown li > a {
    color: #FFFFFF;
}

.gapp .nav-item .services-dropdown li > a:hover {
    color: #000000 !important;
}

.nav-buttons {
    gap: 10px;
    padding-right: 20px;
}

.navbar-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-btns > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.09px;
    letter-spacing: 0%;

}
.navbar-btns > .dropdown-menu {
    box-shadow: 0px 0px 8px 0px #00274D1F;
    border: none;
    padding: unset !important;
    --bs-dropdown-link-active-bg: #00274D1A !important;
}

.navbar-btns > .dropdown-menu li .dropdown-item {
    border-bottom: 1px solid #E7E7E7;
    color: #212529;
}

.navbar-btns > .dropdown-menu li:last-of-type .dropdown-item {
    color: #FF0D0D;
}

.navbar-btns .user-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #FFCC00;
    background: #D9D9D9;
}
.navbar-btns .user-profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.navbar-btns button:first-of-type {
    width: 120px;
    border-radius: 6px;
    height: 38px;
    border: 2px solid var(--primary-color);
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-weight: 600;
}

.navbar-btns button:last-of-type {
    width: 120px;
    border-radius: 6px;
    height: 38px;
    border: none;
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-weight: 600;
}

.nav-buttons button {
    padding: 6px 32px 6px 32px;
    border: none;
    border-radius: 10px;
    background-color: #8C4FF6;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.language-button {
    display: flex;
    display: flex;
    box-shadow: 0px 0px 20px 0px #D0D1D780;
    border-radius: 6px;
    padding: 4px 8px;
}

.language-button input[type="radio"] {
    display: none;
}

.language-button input[type="radio"]:checked+label {
    color: #ffffff;
}

.language-button label {
    display: inline-block;
    /* background-color: #ddd; */
    padding: 2px 8px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    /* width: 200px; */
    /* height: 45px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-button label[for="radio1"] {
    font-size: 13px;
    /* font-weight: 600; */
}

.language-button label[for="radio2"] {
    display: flex;
    gap: 10px;
}

.language-button label[for="radio2"] {
    font-size: 13px;
    /* font-weight: 600; */
    color: #5D5D5D;
}



.language-button input[type="radio"]:checked+label {
    background-color: #8C4FF6;
    border-radius: 6px;
    /* border: 2px solid #7C00F4; */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F5F6F8;
}

.header-div {
    display: flex;
    flex-direction: column;
    width: 83%;
    margin-top: 100px;
    padding-bottom: 85px;
}

.main-content {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.header-content span {
    color: #989898;
    /* font-size: 10px; */
}

.header-content h3 {
    color: #585858;
    font-size: 40px;
    font-weight: 600;
    max-width: 520px;
}

.header-content h3 span {
    color: #8C4FF6;
}

.header-content .paragraphs {
    display: flex;
    flex-direction: column;
}

.header-content .paragraphs span {
    color: #565656;
    font-size: 20px;
    line-height: 32px;
    /* font-weight: 600; */
}

.header-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img .header-svg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-img .header-svg img {
    width: 80%;
}

.header-div .header-form {
    /* width: fit-content; */
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 7px;
    box-shadow: 0px 0px 20px 0px #D0D1D780;
    border-radius: 10px;
}

.header-form .input-svg svg {
    width: 35px;
    height: 35px;
}

.header-form input {
    width: 300px;
    border: none;
    outline: none;
    margin-left: 5px;
}

.location-svg {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    background-color: #F3EFFA;
    border-radius: 50%;
}

.location-svg svg {
    width: 14px !important;
    height: 14px !important;
}

.header-form button {
    background-color: #8C4FF6;
    color: #ffffff;
    padding: 5px 25px;
}

.setting-profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.setting-profile button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;

}

.setting-profile button .span {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    text-align: left;
}

.setting-profile button .span span:first-of-type {
    color: #494949;
    font-weight: 600;
    font-size: 14px;
}

.setting-profile button .span span:last-of-type {
    color: #7F7F7F;
    font-weight: 600;
    font-size: 14px;
}

.user-img {
    width: 38px;
    height: 38px;
    /* border: 3px solid #8C4FF6; */
    border-radius: 8px;
}

.user-img img {
    width: 38px;

    height: 38px;
    border-radius: 8px;
    object-fit: cover;
    border: 3px solid #8C4FF6;
}

.nav-setting-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    padding: unset;
}


/* notification and profile container styles */

.notification-profile-container {
    display: flex;
    gap: 20px;
}

.notification-profile-container>.notification-container>button {
    width: 50px;
    height: 50px;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px #D0D1D780;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #373737;
    padding: unset;
}

.notification-profile-container>.notification-container>.dropdown-menu {
    right: 0;
    left: unset;
}

.notification-svg {
    cursor: pointer;
}

/* notification dropdown */
.notification-dropdown-menu {
    width: 500px !important;
    max-height: 370px !important;
    min-height: 75px;
    overflow-y: auto !important;
    padding: 0px !important;
    padding: 10px !important;
    border-radius: 10px !important;
    background: #FFFFFF !important;
    border: 1px solid #ECECEC !important;
    box-shadow: 0px 0px 5px 0px #00000021 !important;
    margin-top: unset !important;
    right: 0 !important;
    top: 50px !important;
    left: unset !important;
}

.notification-dropdown-menu>.dropdown-item {
    padding: 0px;
}

.notification-dropdown-menu>.dropdown-item:hover {
    background-color: unset !important;
    color: #000000 !important;
    cursor: pointer;
}

.notification-dropdown-menu>.dropdown-item>hr {
    margin: 5px;
}

.notification-dropdown-menu>.dropdown-item:last-child>hr {
    display: none;
}

.notification-dropdown-menu>.dropdown-item>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-dropdown-menu>.dropdown-item>.header>span {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: #000000;
}

.notification-dropdown-menu>.dropdown-item>.header>a {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: var(--primary-color);
}

.notification-dropdown-menu>.dropdown-item>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-dropdown-menu>.dropdown-item>div>.image-info-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notification-dropdown-menu>.dropdown-item>div>.image-info-container .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.notification-dropdown-menu>.dropdown-item>div>.image-info-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.notification-dropdown-menu>.dropdown-item>div>.image-info-container>.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    /* max-width: 70%; */
    overflow: hidden;
}

.notification-dropdown-menu>.dropdown-item>div>.image-info-container>.info>span:first-child {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: #000000;
}

.notification-dropdown-menu>.dropdown-item>div>.image-info-container>.info>span:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #494949;
    word-wrap: break-word;
    white-space: pre-line;
}

.notification-dropdown-menu>.dropdown-item>div>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.notification-dropdown-menu>.dropdown-item>div>div:last-child>span:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #313131;
}


.buttons>.add-show {
    border: none;
    background-color: var(--primary-color);
    padding: 9px 34px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;

}

.has_unread_indicator {
    width: 15px;
    height: 15px;
    position: absolute;
    background: #dc3545;
    top: 8px;
    right: 5px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.toast-info {
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.toast-info .title {
    font-weight: 500;
    text-transform: capitalize;
}

.toast-info .body {
    font-weight: 400;
}

/* profile dropdown */

.profile-dropdown {
    padding: unset;
    border-radius: 8px;
    border: unset;
    box-shadow: 0px 0px 20px 0px #D0D1D780;
    padding: 10px;
}

.profile-dropdown hr {
    padding: unset;
    margin: unset;
}

.profile-dropdown .dropdown-item {
    cursor: pointer;
    height: 30px;
    width: fit-content;
}

.profile-dropdown .dropdown-item span {
    font-size: 14px;
}

.profile-dropdown .dropdown-item:active,
.profile-dropdown .dropdown-item:hover {
    background-color: unset;
}

.profile-dropdown .dropdown-item:first-child {
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.profile-dropdown .dropdown-item:last-child {
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}


.for-mobile {
    display: none;
}

.for-notification-setup {
    display: flex;
    align-items: center;
    gap: 8px;
}

.for-notification-setup .notification-svg {
    display: none;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.for-unread-notifications {
    width: 13px !important;
    height: 13px !important;
}


.navbar-toggler {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0 !important;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-responsive {
    height: calc(100vh - 400px);
    top: 400px;
    position: absolute;
    overflow: scroll;
}

.main-content-responsive .main-content {
    margin-top: 20px;
}

.nav-collapser {
    /* position: relative !important;
    top: 75px;
    margin-left: 3.64%;
    margin-right: 3.64%; */

    position: fixed !important;
    top: 75px;
    margin-left: 3.64%;
    margin-right: 3.64%;
    background: white;
    z-index: 12;
    width: calc(92.72%);
}

@media screen and (max-width: 767px) {
    .navbar-flex {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: #fcfdff;
        border-radius: 8px;
        border: 1px solid #ffffff;
        padding-left: 10px;
        box-shadow: 0px 0px 15px 0px #00274D1F;
    }

    .navbar-flex.show {
        display: flex !important;
    }

    .navbar-flex .navbar-nav {
        margin-left: unset !important;
        margin-top: 10px;
    }

    .setting-profile {
        flex-direction: row-reverse;
    }

    .notification-dropdown-menu {
        width: 432px !important;
        max-height: 340px !important;
        margin-top: unset !important;
        right: 0px !important;
        top: 50px !important;
        left: -364px !important;
    }

    .for-web {
        display: none;
    }

    .for-mobile {
        display: flex;
    }

    .for-notification-setup .notification-svg {
        display: flex;
    }

    .new-notification svg {
        width: 14px !important;
        height: 14px !important;
    }

    .collapse>.gapp {
        gap: 0px !important;
    }

    .testimonials .reviews-container .review .about-client {
        justify-content: flex-start !important;
    }
    .navbar-profile-dropdown {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .navbar-btns {
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 450px) {

    .gapp .nav-item>a {
        font-size: 16px;
    }
    /* .logo {
        margin: unset;
        padding: unset;
    }
     */
    .navbar > .container-fluid {
        height: 48px;
    }

    .logo .nav-logo-svg svg {
        width: 38px;
        height: 38px;
    }

    #header-div nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .notification-dropdown-menu>.dropdown-item>div>.image-info-container .image img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }

    .new-notification svg {
        width: 14px !important;
        height: 14px !important;
    }

    .notification-dropdown-menu {
        width: 388px !important;
        left: -310px !important;
    }

    .navbar-toggler-icon {
        width: 20px !important;
        height: 20px !important;
    }

    .nav-buttons button {
        padding: 3px 10px 3px 10px;
        font-size: 16px;
        border-radius: 6px;
    }

    .notification-svg svg {
        width: 13px;
        height: 13px;
    }
}

@media screen and (max-width: 400px) {
    .notification-dropdown-menu {
        width: 345px !important;
        left: -268px !important;
    }

    .notification-dropdown-menu>.dropdown-item>div>.image-info-container .image img {
        width: 28px;
        height: 28px;
    }

    .notification-dropdown-menu>.dropdown-item>div>.image-info-container>.info {
        gap: 0px !important;
    }

    .notification-dropdown-menu>.dropdown-item>div>.image-info-container>.info>span:first-child {
        font-size: 14px;
    }

    .notification-dropdown-menu>.dropdown-item>div>.image-info-container>.info>span:last-child {
        font-size: 12px;
    }
}
