{% extends "administration/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'administration/css/coaching.css' %}">
{% endblock css %}
{% block title %}Coaching{% endblock title %}
{% block content %}

<div class="main">
    <div class="coaching-services-container" id="coaching-services-container">
        <div class="w-100 d-flex justify-content-center">
            <span class="spinner-border spinner-border-md" role="status" aria-hidden="true"></span>
        </div>

        {% comment %} <div class="coaching-services">
            <img src="/static/web/images/coachingimg1.png" alt="">
            <div class="main-coaching-content">
                <h4>Manuscript Engineering</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <div class="book-now-coaching-btns">
                    <button onclick="location.pathname = '/book-now/'">Edit</button>
                   <button data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </div>
        </div>
         {% endcomment %}
    </div>
</div>

{% include "administration/modals/servicesmodals.html" %}

{% endblock %}
{% block js %}
<script src="{% static "administration/js/coaching.js" %}"></script>
{% endblock js %}