main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    min-height: 100vh;
    padding: 10px;
}

.main-content {
    padding: 20px;
    width: 100%;
    max-width: 657px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px #D0D1D780;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
}
.main-content .back-arrow {
    position: absolute;
    left: 20px;
}

.main-content > .content {
    width: 342px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    gap: 10px;
}
.content h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: unset;
    color: var(--primary-text-color);
}

.content > span {
    color: var(--primary-text-color);
}
.content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 12px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.input-wrapper svg{
    position: absolute;
    right: 10px;
    bottom: 14px;
}

form > .input-wrapper input{
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-radius: 10px;
}

form > .input-wrapper label{
    font-size: 16px;
    font-weight: 500;

}

form > button{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 8px ;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}